   <!-- Description 个人介绍相关内容 -->
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <h2 style="text-align: center; margin-top: 0;font-size: 14px;font-weight: bold;">{{site.about-author}}</h2>

      <h2 style="text-align: center; margin-top: 0;font-size: 14px;font-weight: bold;">BigData Developer</h2>

      <hr style="border: none;height: 1px; width: 100%;background: url({{site.baseurl}}/assets/img/hr1.png) no-repeat center center;margin-top: 10px;margin-bottom: 10px; margin-bottom: 20px;">
      <div class="Pagelinks">
      <h2 style="text-align: center; margin-top: 0;font-size: 14px;font-weight: bold;">
        <a href="https://wangqinggang.github.io/" >首页</a>
      </h2>

      <hr style="border: none;height: 1px; width: 100%;background: url({{site.baseurl}}/assets/img/hr1.png) no-repeat center center;margin-top: 10px;margin-bottom: 10px; margin-bottom: 20px;">

      <h2 style="text-align: center; margin-top: 0;font-size: 14px;font-weight: bold;">
        <a href="https://wangqinggang.github.io/tags/" >标签</a>
      </h2>

      <hr style="border: none;height: 1px; width: 100%;background: url({{site.baseurl}}/assets/img/hr1.png) no-repeat center center;margin-top: 10px;margin-bottom: 10px; margin-bottom: 20px;">
      <h2 style="text-align: center; margin-top: 0;font-size: 14px;font-weight: bold;">
        <a href="https://wangqinggang.github.io/tags/" >关于</a>

      <hr style="border: none;height: 1px; width: 100%;background: url({{site.baseurl}}/assets/img/hr1.png) no-repeat center center;margin-top: 10px;margin-bottom: 10px; margin-bottom: 20px;">


      
          <p>Wechat: wqg599252594</p>
      </div>

</div>