   <!-- Description 个人介绍相关内容 -->
<div style="text-align: center;">
      <!-- Profile title -->
      <h2 style="text-align: center;font-weight: bold;margin-top: 0;font-size: 36px;letter-spacing: -2px;margin-bottom: 8px;color: #021533;">Hi, i'm <span style="color: #08aeac;">王庆港!</span></h2>
      <h2 style="text-align: center; margin-top: 0;font-size: 14px;font-weight: bold;">Web Designer &amp; Developer</h2>
      <!-- /Profile Title -->
      <!-- Description Text -->
      <hr style="border: none;height: 1px; width: 100%;background: url(assets/img/hr1.png) no-repeat center center;margin-top: 10px;margin-bottom: 10px; margin-bottom: 20px;">
      <div style="padding: 10px;padding-top: 10px;margin-bottom: 5px;">
        <p>Founder of xxx. Professional BigData developer based on ShenZhen. Sometimes works as a freelancer.</p>
      </div>
      <!--/ Description Text -->
      <!-- Description feature -->
      <div>
        <!-- item -->
        <div style="margin-bottom: 15px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 10px;background: url(assets/img/bg-btn.png) no-repeat center center #08aeac;">
          <p>Wechat: wqg599252594</p>
        </div>
        <!-- item -->
      </div>
      <!-- /Description feature -->
</div>